@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-b {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  /* styles/globals.css */
  .blue-shape {
    @apply absolute block z-[-1] bg-[#6e9cb84c] rounded-[8.9vw] rotate-[-50deg];
    width: 80vw;
    height: 60vw;
    top: -10%;
    left: 70%;
    transform: translateX(-50%);
}

.blue-shape._12 {
    @apply top-[-30%] right-[-90%];
    width: 120%;
    height: 70%;
    transform: rotate(-60deg);
}
